In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/dsa/groups/casestudy2022su/team06/TourneyMasterFile.csv')

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [4]:
df.head()

,tournament_id,player_id,date,golfer,tournament,course,purse,year,score,par,finish,rounds,cut,shots_gained_putt,shots_gained_around_green,shots_gained_approach_green,shots_gained_off_the_tee,shots_gained_tee_to_green,shots_gained_total,top10
0,401353254,9261,3/13/2022,Abraham Ancer,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,285,288,T33,4,1,0.16,0.04,0.70,0.20,0.94,1.09,0
1,401353254,5548,3/13/2022,Adam Hadwin,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,281,288,T9,4,1,1.43,-0.11,1.04,-0.27,0.67,2.09,1
2,401353254,4989,3/13/2022,Anirban Lahiri,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,276,288,2,4,1,1.41,0.02,1.04,0.87,1.93,3.34,1
3,401353254,6015,3/13/2022,Adam Long,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,287,288,T46,4,1,0.37,0.15,-0.61,0.67,0.22,0.59,0
4,401353254,3832,3/13/2022,Alexander Noren,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,284,288,T26,4,1,-0.15,0.08,1.25,0.16,1.49,1.34,0

In [5]:
#players/playerid
#tournament/tournamentid
#course/courseid
#PK for main df is tournament_id,player_id
#if you know tournament_id and player_id you know the date,course and everything else

In [6]:
df.head()

,tournament_id,player_id,date,golfer,tournament,course,purse,year,score,par,finish,rounds,cut,shots_gained_putt,shots_gained_around_green,shots_gained_approach_green,shots_gained_off_the_tee,shots_gained_tee_to_green,shots_gained_total,top10
0,401353254,9261,3/13/2022,Abraham Ancer,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,285,288,T33,4,1,0.16,0.04,0.70,0.20,0.94,1.09,0
1,401353254,5548,3/13/2022,Adam Hadwin,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,281,288,T9,4,1,1.43,-0.11,1.04,-0.27,0.67,2.09,1
2,401353254,4989,3/13/2022,Anirban Lahiri,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,276,288,2,4,1,1.41,0.02,1.04,0.87,1.93,3.34,1
3,401353254,6015,3/13/2022,Adam Long,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,287,288,T46,4,1,0.37,0.15,-0.61,0.67,0.22,0.59,0
4,401353254,3832,3/13/2022,Alexander Noren,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,284,288,T26,4,1,-0.15,0.08,1.25,0.16,1.49,1.34,0

In [7]:
tournaments = np.unique(df[['tournament']].values)

In [8]:
len(tournaments)

79

In [9]:
tournaments

array(['3M Open', 'A Military Tribute at The Greenbrier',
       'AT&T Byron Nelson', 'AT&T Pebble Beach Pro-Am',
       'Arnold Palmer Invitational Pres. by Mastercard',
       'BMW Championship', 'Barbasol Championship',
       'Bermuda Championship', 'CIMB Classic', 'CareerBuilder Challenge',
       'Charles Schwab Challenge',
       'Corales Puntacana Resort & Club Championship',
       'Crowne Plaza Invitation', 'Dean & Deluca Invitational',
       'Dell Technologies Championship', 'Desert Classic',
       'Deutsche Bank Championship', 'Farmers Insurance Open',
       'FedEx St. Jude Classic', 'Fort Worth Invitational',
       'Fortinet Championship', 'Frys.com Open', 'Genesis Open',
       'Hero World Challenge', 'Houston Open', 'Humana Chalenge',
       'Hyundai Tournament of Champions', 'John Deere Classic',
       'Masters Tournament', 'Mayakoba Golf Classic',
       'Northern Trust Open', 'OHL Classic at Mayakoba',
       'PGA Championship', 'Palmetto Championship at Congaree',
       'Puerto Rico Open', 'Quicken Loans National', 'RBC Canadian Open',
       'RBC Heritage', 'Rocket Mortgage Classic',
       'SBS Tournament of Champions', 'Safeway Open',
       'Sanderson Farms Championship', 'Sentry Tournament of Champions',
       'Shell Houston Open', 'Shriners Hospital for Children Open',
       'Sony Open in Hawaii', 'The American Express', 'The Barclays',
       'The CJ Cup @ Nine Bridges', 'The CJ Cup @ Shadow Creek',
       'The CJ Cup @ Summit', 'The Genesis Invitational',
       'The Greenbrier Classic', 'The Honda Classic',
       'The McGladrey Classic',
       'The Memorial Tournament pres. by Nationwide',
       'The Northern Trust', 'The Open', 'The Players Championship',
       'The RSM Classic', 'The ZOZO Championship', 'Tour Championship',
       'Travelers Championship', 'U.S. Open', 'Valero Texas Open',
       'Valspar Championship', 'WGC-Bridgestone Invitational',
       'WGC-FedEx St. Jude Classic', 'WGC-HSBC Champions',
       'WGC-Mexico Championship', 'WGC-Workday Championship',
       'Waste Management Phoenix Open', 'Wells Fargo Championship',
       'Workday Charity Open',
       'World Golf Championship-Bridgestone Invitational',
       'World Golf Championships - Cadillac Championship',
       'World Golf Championships-HSBC Champions',
       'World Golf Championships-Mexico Championship',
       'Wyndham Championship'], dtype=object)

In [10]:
tournament_df = pd.DataFrame(tournaments, columns = ['tournament_name'])

In [11]:
tournament_df.head()

                                  tournament_name
0                                         3M Open
1            A Military Tribute at The Greenbrier
2                               AT&T Byron Nelson
3                        AT&T Pebble Beach Pro-Am
4  Arnold Palmer Invitational Pres. by Mastercard

In [12]:
tournament_df['tournament_name_id'] = tournament_df.index+1

In [13]:
tournament_df.head()

                                  tournament_name  tournament_name_id
0                                         3M Open                   1
1            A Military Tribute at The Greenbrier                   2
2                               AT&T Byron Nelson                   3
3                        AT&T Pebble Beach Pro-Am                   4
4  Arnold Palmer Invitational Pres. by Mastercard                   5

In [14]:
player = df['golfer'].unique()

In [15]:
player_id = df['player_id'].unique()

In [16]:
len(player)

499

In [17]:
player

array(['Abraham Ancer', 'Adam Hadwin', 'Anirban Lahiri', 'Adam Long',
       'Alexander Noren', 'Andrew Putnam', 'Adam Schenk', 'Adam Scott',
       'Aaron Wise', 'Brice Garnett', 'Brian Gay', 'Branden Grace',
       'Brandon Hagy', 'Brian Harman', 'Billy Horschel', 'Beau Hossler',
       'Brooks Koepka', 'Brandt Snedeker', 'Brendan Steele',
       'Brian Stuard', 'Brendon Todd', 'Bubba Watson', 'Cameron Champ',
       'Corey Conners', 'Cameron Davis', 'Chesson Hadley',
       'Charley Hoffman', 'Chris Kirk', 'Collin Morikawa', 'Carlos Ortiz',
       'C.T. Pan', 'Chez Reavie', 'Charl Schwartzel', 'Cameron Smith',
       'Cameron Tringale', 'Cameron Young', 'Daniel Berger',
       'Dylan Frittelli', 'Doug Ghim', 'Dustin Johnson', 'Danny Lee',
       'Denny McCarthy', 'Doc Redman', 'Emiliano Grillo',
       'Erik van Rooyen', 'Francesco Molinari', 'Garrick Higgo',
       'Gary Woodland', 'Hayden Buckley', 'Harry Higgs', 'Hank Lebioda',
       'Henrik Norlander', 'Henrik Stenson', 'Hudson Swafford',
       'Harold Varner III', 'Ian Poulter', 'Joseph Bramlett',
       'Joel Dahmen', 'Jason Day', 'James Hahn', 'Jason Kokrak',
       'Joaquin Niemann', 'J.T. Poston', 'Jon Rahm', 'Justin Rose',
       'J.J. Spaun', 'Jordan Spieth', 'Justin Thomas', 'Jhonattan Vegas',
       'Jimmy Walker', 'Keegan Bradley', 'Kramer Hickok', 'Kevin Kisner',
       'Kyoung-Hoon Lee', 'Keith Mitchell', 'Kyle Stanley',
       'Kevin Streelman', 'Kevin Tway', 'Lucas Glover', 'Lanto Griffin',
       'Lucas Herbert', 'Lee Hodges', 'Louis Oosthuizen', 'Lee Westwood',
       'Matthew Fitzpatrick', 'Max Homa', 'Mackenzie Hughes',
       'Matt Jones', 'Matt Kuchar', 'Martin Laird', 'Marc Leishman',
       'Maverick McNealy', 'Matthew NeSmith', 'Mito Pereira',
       'Michael Thompson', 'Matt Wallace', 'Matthew Wolff', 'Nick Watney',
       'Patrick Cantlay', 'Paul Casey', 'Patton Kizzire', 'Peter Malnati',
       'Pat Perez', 'Patrick Reed', 'Patrick Rodgers', 'Ryan Brehm',
       'Russell Henley', 'Russell Knox', 'Rory McIlroy', 'Ryan Palmer',
       'Roger Sloan', 'Robert Streb', 'Richy Werenski', 'Sam Burns',
       'Stewart Cink', 'Sergio Garcia', 'Sungjae Im', 'Stephan Jaeger',
       'Si Woo Kim', 'Shane Lowry', 'Sebastian Munoz', 'Scott Piercy',
       'Seamus Power', 'Sam Ryder', 'Scottie Scheffler',
       'Scott Stallings', 'Sepp Straka', 'Sahith Theegala', 'Tony Finau',
       'Tommy Fleetwood', 'Talor Gooch', 'Tyrrell Hatton', 'Tom Hoge',
       'Troy Merritt', 'Taylor Moore', 'Taylor Pendrith',
       'Thomas Pieters', 'Viktor Hovland', 'Wyndham Clark',
       'Webb Simpson', 'Will Zalatoris', 'Xander Schauffele',
       'Zach Johnson', 'Aaron Baddeley', 'Austin Cook', 'Aaron Rai',
       'Andres Romero', 'Alex Smalley', 'Adam Svensson',
       'Bronson Burgoon', 'Ben Crane', 'Brian Davis', 'Brendon De Jonge',
       'Bill Haas', 'Bo Hoag', 'Ben Martin', 'Bryson Nimmer',
       'Brett Stegmaier', 'Bo Van Pelt', 'Brandon Wu', 'Charlie Beljan',
       'Christiaan Bezuidenhout', 'Chris Couch', 'Cody Gribble',
       'Charles Howell III', 'Chan Kim', 'Cameron Percy',
       'Carl Pettersson', 'Chase Seiffert', 'Curtis Thompson',
       'Camilo Villegas', 'Derek Ernst', 'David Hearn', 'David Lingmerth',
       'David Lipsky', 'D.A. Points', 'Davis Riley', 'Davis Thompson',
       'D.J. Trahan', 'Dawie van der Walt', 'Danny Willett', 'Dylan Wu',
       'Eric Axley', 'Fabian Gomez', 'Greg Chalmers', 'Greg Koch',
       'Graeme McDowell', 'George McNeill', 'Grayson Murray',
       'Greyson Sigg', 'Hideki Matsuyama', 'Jason Bohn', 'Jonathan Byrd',
       'Jason Dufner', 'J.J. Henry', 'Jim Herman', 'John Huh',
       'Jim Knous', 'John Merrick', 'John Pak', 'Ted Potter Jr.',
       'John Rollins', 'Josh Teater', 'Kiradech Aphibarnrat',
       'Kevin Chappell', 'Kurt Kitayama', 'Kelly Kraft', 'Kevin Na',
       'Kevin Stadler', 'Luke Donald', 'Luke List', 'Matt Every',
       'Michael Gligic', 'Mark Hubbard', 'Michael Kim', 'Min Woo Lee',
       'Matthias Schwab', 'Martin Trainer', 'Nick Hardy', 'Nate Lashley',
       'Nick Taylor', 'Omar Uresti', 'Paul Barjon', 'Padraig Harrington',
       'Parker McLachlin', 'Peter Uihlein', 'Ryan Armour', 'Ricky Barnes',
       'Rafa Cabrera Bello', 'Rafael Campos', 'Rickie Fowler',
       'Robert Garrigus', 'Richard Johnson', 'Rory Sabbatini',
       'Sang-Moon Bae', 'Scott Brown', 'Scott Gutschewski', 'Sung Kang',
       'Smylie Kaufman', 'Satoshi Kodaira', 'Seung-Yul Noh',
       "Sean O'Hair", 'Spencer Ralston', 'Seth Reeves', 'Tyler Duncan',
       'Tommy Gainey', 'Takumi Kanaya', 'Trey Mullinax', 'Ted Purdy',
       'Victor Perez', 'Vaughn Taylor', 'Vincent Whaley', 'Chase Koepka',
       'Chris Stroud', 'Erik Compton', 'Kyle Westmoreland',
       'Martin Kaymer', 'Tyler McCumber', 'Wesley Bryan',
       'William McGirt', 'Andrew Landry', 'Jaekyeong Lee',
       'Robert MacIntyre', 'Austin Eckroat', 'Benjamin Silverman',
       'Ryan Moore', 'Alex Cejka', 'Brandon Harkins', 'Brad Marek',
       'Dean Burmester', 'Davis Love III', 'Jonas Blixt', 'John Senden',
       'Johnson Wagner', 'Mark Baldwin', 'Tom Lehman',
       'Bryson DeChambeau', 'Kamaiu Johnson', 'Phil Mickelson',
       'Mark Wilson', 'Andy Ogletree', 'Harris English', 'Jim Furyk',
       'Jerry Kelly', 'Rikuya Hoshino', 'MJ Daffue', 'Shawn Stefani',
       'Guido Migliozzi', 'Roberto Diaz', 'Thomas Detry',
       'Willie Mack III', 'Arjun Atwal', 'Daniel Chopra',
       'Ryosuke Kinoshita', 'Shugo Imahira', 'Shaun Norris',
       'Yuki Inamori', 'Byeong Hun An', 'Hanbyeol Kim', 'Joohyung Kim',
       'Rasmus Hojgaard', 'John Augenstein', 'Kyle Reifers',
       'Quade Cummins', 'Sam Saunders', 'J.B. Holmes', 'Jamie Lovemark',
       'Justin Suh', 'Kristoffer Ventura', 'Akshay Bhatia', 'Ben Taylor',
       'Chris Baker', 'K.J. Choi', 'Mark Anderson', 'Michael Gellerman',
       'Nelson Ledesma', 'Rhein Gibson', 'Rob Oppenheim', 'Robby Shelton',
       'Sebastian Cappelen', 'Scott Harrington', 'Tom Lewis',
       'Will Gordon', 'Wes Roach', 'Xinjun Zhang', 'Brad Kennedy',
       'Wilco Nienaber', 'Wade Ormsby', 'Angus Flanagan', 'Brandon Stone',
       'Dominic Bozzelli', 'Hunter Mahan', 'Ryan Blaum', 'Steve Stricker',
       'Tom Lovelady', 'Zack Sucher', 'Abel Gallegos', 'Andrew Loupe',
       'Antoine Rozner', 'Andy Sullivan', 'Benjamin Hebert',
       'Bernd Wiesberger', 'Cole Hammer', 'Darren Clarke',
       'Daniel van Tonder', 'Ernie Els', 'Hao-Tong Li', 'Jorge Campillo',
       'John Catlin', 'John Daly', 'Justin Harding',
       'Jazz Janewattananond', 'Joe Long', 'Joost Luiten', 'JC Ritchie',
       'Jason Scrivener', 'Ken Duke', 'Marcus Kinhult',
       'Mike Lorenzo-Vera', 'Matthias Schmid', 'Paul Waring', 'Ryan Fox',
       'Romain Langasque', 'Sam Horsfield', 'Will MacKenzie', 'Yuxin Lin',
       'Zheng-kai Bai', 'Eric Cole', 'Harrison Frazar', 'Tain Lee',
       'Alex Beach', 'Alvaro Ortiz', 'Dylan Meyer', 'Hayden Springer',
       'Ollie Osborne', 'Ryo Ishikawa', 'Tyler Strafaci', 'Yosuke Asaji',
       'Lucas Bjerregaard', 'Roberto Castro', 'Ben Cook', 'Ben Polland',
       'Frank Bensel Jr.', 'George Coetzee', 'Joe Summerhays',
       'Kalle Samooja', 'Larkin Gross', 'Peter Ballo', 'Rich Beem',
       'Rob Labritz', 'Shaun Micheel', 'Sonny Skinner', 'Stuart Smith',
       'Sami Valimaki', 'Tyler Collet', 'Tim Pearce', 'Y.E. Yang',
       'Tim Wilkinson', 'Bernhard Langer', 'Fred Couples',
       'Jose Maria Olazabal', 'Larry Mize', 'Mike Weir', 'Sandy Lyle',
       'Vijay Singh', 'Retief Goosen', 'Rod Perry', 'Tim Herron',
       'Donnie Trosper', 'Ollie Schniederjans', 'Robert Allenby',
       'Rod Pampling', 'Andres Gonzales', 'Joey Garber', 'James Sugrue',
       'Lukas Michel', 'Tiger Woods', 'Graham DeLaet', 'James Nicholas',
       'Mikumu Horikawa', 'Jeongwoo Ham', 'Tae Hee Lee', 'Zac Blair',
       'Curtis Luck', 'Eddie Pepperell', 'Marty Jertson', 'Ryan Vermeer',
       'Scott Hend', 'Bud Cauley', 'Chad Campbell', 'Peter Kuest',
       'Brinson Paolini', 'David Berganio', 'Jake Shuman',
       'Vince Covello', 'Justin Bertsch', 'Ken Tanigawa',
       'Chandler Phillips', 'Glen Day', 'Andrea Pavan',
       'Freddie Jacobson', 'Julian Etulain', 'Zander Lombard',
       'Colt Knost', 'Boo Weekley', 'Jose de Jesus Rodriguez',
       'Bryce Easton', 'Daniel Nisbet', 'Jbe Kruger', 'Jake McLeod',
       'Masahiro Kawamura', 'Matthew Millar', 'Neil Schietekat',
       'Richard Sterne', 'Zecheng Dou', 'Whee Kim', 'Morgan Hoffmann',
       'Billy Hurley', 'Daniel Summerhays', 'Joe Boros', 'Mason Williams',
       'Anders Albertson', 'Alex Prugh', 'Brady Schnell', 'Chad Collins',
       'Charlie Danielson', 'Chris Thompson', 'Chase Wright', 'John Chin',
       'Kyle Jones', 'Nicholas Lindheim', 'Scott Langley', 'Steve Scott',
       'Will Claxton', 'Thorbjorn Olesen', 'Alexander Bjork',
       'Alexander Levy', 'Derek Fathauer', 'Martin Piller',
       'Tyrone Van Aswegen', 'Yuta Ikeda', 'Austen Truslow',
       'Kris Blanks', 'Brian Dwyer', 'Craig Brischke', 'Nyasha Mauchaza',
       'Lee Houtteman', 'Matt Harmon', 'Wes Homan', 'Zachary Bauchou',
       'Trevor Immelman', 'Blayne Barber', 'Martin Flores',
       'Stuart Appleby', 'Steve Marino', 'Jonathan Randolph',
       'Steven Bowditch', 'Geoff Ogilvy', 'Wen-Chong Liang'], dtype=object)

In [18]:
player = player.tolist()

In [19]:
len(player_id)

499

In [20]:
player_id = player_id.tolist()

In [21]:
player_id

[9261,
 5548,
 4989,
 6015,
 3832,
 5502,
 10372,
 388,
 10577,
 2283,
 159,
 4383,
 9584,
 1225,
 1651,
 6011,
 6798,
 1222,
 3596,
 3599,
 3454,
 780,
 11098,
 9126,
 10863,
 5704,
 205,
 3449,
 10592,
 5532,
 6017,
 769,
 1097,
 9131,
 4645,
 4425906,
 9025,
 5167,
 11456,
 3448,
 3950,
 10054,
 11448,
 5882,
 9364,
 1483,
 11393,
 3550,
 4364752,
 4844,
 11387,
 5573,
 576,
 5504,
 6991,
 619,
 5902,
 6196,
 1680,
 5025,
 3317,
 11099,
 10505,
 9780,
 569,
 10166,
 5467,
 4848,
 1030,
 446,
 4513,
 10363,
 2552,
 7083,
 8906,
 1778,
 1077,
 3793,
 676,
 5962,
 10343,
 4404991,
 1293,
 455,
 9037,
 8973,
 6931,
 1367,
 257,
 2571,
 3351,
 9530,
 6954,
 9931,
 3688,
 10548,
 4412121,
 1042,
 6007,
 72,
 3980,
 5692,
 707,
 5579,
 6825,
 1548,
 5409,
 4483,
 3470,
 962,
 6090,
 5619,
 9804,
 9938,
 78,
 158,
 11382,
 6937,
 7081,
 4587,
 10404,
 1037,
 6001,
 7001,
 9478,
 3378,
 8961,
 10980,
 2230,
 5539,
 9513,
 5553,
 6086,
 3970,
 10664,
 9658,
 9031,
 4364873,
 11119,
 1614,
 9877,
 10140,
 686,
 16,
 9517,
 10906,
 1712,
 9484,
 9127,
 1626,
 693,
 1049,
 1758,
 774,
 4780,
 4638,
 4415125,
 1673,
 712,
 4355673,
 3777,
 9243,
 1177,
 8971,
 208,
 5724,
 1121,
 856,
 8975,
 9687,
 1264,
 7004,
 928,
 5574,
 6701,
 1196,
 10058,
 4602218,
 431,
 3455,
 4304,
 4423323,
 1247,
 3375,
 74,
 4845307,
 301,
 808,
 5462,
 11333,
 5860,
 1173,
 508,
 110,
 196,
 3598,
 5797,
 6894,
 1422,
 4691933,
 2883,
 709,
 1568,
 5771,
 3857,
 10364,
 6689,
 318,
 860,
 601,
 1059,
 1411,
 4859,
 9143,
 8974,
 4410932,
 5729,
 6151,
 10048,
 1600,
 3792,
 438,
 10831,
 186,
 1259,
 1674,
 1750,
 801,
 4321,
 3683,
 3702,
 1254,
 903,
 377,
 4015,
 4591,
 1195,
 4449,
 9528,
 9076,
 4267,
 1359,
 4683972,
 10932,
 9569,
 1798,
 4410612,
 9626,
 997,
 11340,
 1185,
 4408315,
 10714,
 1352,
 646,
 11105,
 3670,
 9002,
 10360,
 3532,
 4682,
 9934,
 11378,
 4425898,
 8910,
 809,
 512,
 7161,
 4845308,
 5830,
 278,
 3856,
 710,
 1265,
 4413,
 268,
 10046,
 4713443,
 308,
 479,
 4683804,
 5408,
 153,
 243,
 4350033,
 7110,
 4643,
 9474,
 6783,
 4837,
 4355611,
 824,
 1176,
 4699314,
 10630,
 5057,
 4399256,
 5285,
 4690611,
 4602673,
 11253,
 4421475,
 1734,
 4708134,
 1613,
 1067,
 1676,
 10583,
 4351896,
 4419142,
 10134,
 4628,
 77,
 6648,
 10065,
 6677,
 3948,
 1733,
 9531,
 9564,
 1210,
 5868,
 4565482,
 6185,
 4479,
 1470,
 4408396,
 1489,
 4686085,
 6280,
 8992,
 957,
 1935,
 412,
 10586,
 4708,
 4701571,
 5951,
 4407372,
 5956,
 3824,
 4317,
 10047,
 82,
 5857,
 123,
 5934,
 4691,
 10687,
 97,
 5825,
 9413,
 4705886,
 4831,
 9374,
 4265,
 745,
 9496,
 4272,
 4566443,
 3474,
 4251,
 10099,
 10049,
 1366,
 10493,
 8887,
 10522,
 144,
 6987,
 11219,
 10481,
 11115,
 10562,
 4567806,
 4047,
 11447,
 4566423,
 9575,
 3740,
 4422368,
 10179,
 1322,
 5076,
 415,
 7055,
 4845305,
 4845303,
 29,
 259,
 307,
 1617,
 1370,
 4585548,
 4723205,
 4845309,
 1350,
 1157,
 261,
 91,
 329,
 310,
 453,
 281,
 392,
 167,
 667,
 198,
 4684397,
 9568,
 5,
 335,
 1748,
 9571,
 4566449,
 4691932,
 462,
 2127,
 4683800,
 4425900,
 4592199,
 4264,
 9040,
 10910,
 6629,
 5769,
 3284,
 1178,
 5338,
 68,
 4684201,
 9130,
 34,
 4688358,
 4085,
 4420096,
 421,
 4587989,
 100,
 5423,
 540,
 5259,
 7056,
 1793,
 713,
 3669,
 5842,
 4984,
 4993,
 10336,
 9220,
 3674,
 5095,
 1499,
 8889,
 7082,
 4781,
 1612,
 3452,
 6965,
 4585569,
 10357,
 3322,
 3446,
 1646,
 10442,
 3279,
 7039,
 5567,
 10050,
 6999,
 5506,
 387,
 2053,
 5140,
 9469,
 6041,
 3577,
 4010,
 3295,
 4712,
 9379,
 1933,
 4924,
 9607,
 6173,
 6773,
 3384,
 5560,
 10030,
 215,
 6062,
 1637,
 11,
 1170,
 5578,
 1112,
 328,
 5209]

In [22]:
player_list = list(zip(player_id,player))
player_list

[(9261, 'Abraham Ancer'),
 (5548, 'Adam Hadwin'),
 (4989, 'Anirban Lahiri'),
 (6015, 'Adam Long'),
 (3832, 'Alexander Noren'),
 (5502, 'Andrew Putnam'),
 (10372, 'Adam Schenk'),
 (388, 'Adam Scott'),
 (10577, 'Aaron Wise'),
 (2283, 'Brice Garnett'),
 (159, 'Brian Gay'),
 (4383, 'Branden Grace'),
 (9584, 'Brandon Hagy'),
 (1225, 'Brian Harman'),
 (1651, 'Billy Horschel'),
 (6011, 'Beau Hossler'),
 (6798, 'Brooks Koepka'),
 (1222, 'Brandt Snedeker'),
 (3596, 'Brendan Steele'),
 (3599, 'Brian Stuard'),
 (3454, 'Brendon Todd'),
 (780, 'Bubba Watson'),
 (11098, 'Cameron Champ'),
 (9126, 'Corey Conners'),
 (10863, 'Cameron Davis'),
 (5704, 'Chesson Hadley'),
 (205, 'Charley Hoffman'),
 (3449, 'Chris Kirk'),
 (10592, 'Collin Morikawa'),
 (5532, 'Carlos Ortiz'),
 (6017, 'C.T. Pan'),
 (769, 'Chez Reavie'),
 (1097, 'Charl Schwartzel'),
 (9131, 'Cameron Smith'),
 (4645, 'Cameron Tringale'),
 (4425906, 'Cameron Young'),
 (9025, 'Daniel Berger'),
 (5167, 'Dylan Frittelli'),
 (11456, 'Doug Ghim'),
 (3448, 'Dustin Johnson'),
 (3950, 'Danny Lee'),
 (10054, 'Denny McCarthy'),
 (11448, 'Doc Redman'),
 (5882, 'Emiliano Grillo'),
 (9364, 'Erik van Rooyen'),
 (1483, 'Francesco Molinari'),
 (11393, 'Garrick Higgo'),
 (3550, 'Gary Woodland'),
 (4364752, 'Hayden Buckley'),
 (4844, 'Harry Higgs'),
 (11387, 'Hank Lebioda'),
 (5573, 'Henrik Norlander'),
 (576, 'Henrik Stenson'),
 (5504, 'Hudson Swafford'),
 (6991, 'Harold Varner III'),
 (619, 'Ian Poulter'),
 (5902, 'Joseph Bramlett'),
 (6196, 'Joel Dahmen'),
 (1680, 'Jason Day'),
 (5025, 'James Hahn'),
 (3317, 'Jason Kokrak'),
 (11099, 'Joaquin Niemann'),
 (10505, 'J.T. Poston'),
 (9780, 'Jon Rahm'),
 (569, 'Justin Rose'),
 (10166, 'J.J. Spaun'),
 (5467, 'Jordan Spieth'),
 (4848, 'Justin Thomas'),
 (1030, 'Jhonattan Vegas'),
 (446, 'Jimmy Walker'),
 (4513, 'Keegan Bradley'),
 (10363, 'Kramer Hickok'),
 (2552, 'Kevin Kisner'),
 (7083, 'Kyoung-Hoon Lee'),
 (8906, 'Keith Mitchell'),
 (1778, 'Kyle Stanley'),
 (1077, 'Kevin Streelman'),
 (3793, 'Kevin Tway'),
 (676, 'Lucas Glover'),
 (5962, 'Lanto Griffin'),
 (10343, 'Lucas Herbert'),
 (4404991, 'Lee Hodges'),
 (1293, 'Louis Oosthuizen'),
 (455, 'Lee Westwood'),
 (9037, 'Matthew Fitzpatrick'),
 (8973, 'Max Homa'),
 (6931, 'Mackenzie Hughes'),
 (1367, 'Matt Jones'),
 (257, 'Matt Kuchar'),
 (2571, 'Martin Laird'),
 (3351, 'Marc Leishman'),
 (9530, 'Maverick McNealy'),
 (6954, 'Matthew NeSmith'),
 (9931, 'Mito Pereira'),
 (3688, 'Michael Thompson'),
 (10548, 'Matt Wallace'),
 (4412121, 'Matthew Wolff'),
 (1042, 'Nick Watney'),
 (6007, 'Patrick Cantlay'),
 (72, 'Paul Casey'),
 (3980, 'Patton Kizzire'),
 (5692, 'Peter Malnati'),
 (707, 'Pat Perez'),
 (5579, 'Patrick Reed'),
 (6825, 'Patrick Rodgers'),
 (1548, 'Ryan Brehm'),
 (5409, 'Russell Henley'),
 (4483, 'Russell Knox'),
 (3470, 'Rory McIlroy'),
 (962, 'Ryan Palmer'),
 (6090, 'Roger Sloan'),
 (5619, 'Robert Streb'),
 (9804, 'Richy Werenski'),
 (9938, 'Sam Burns'),
 (78, 'Stewart Cink'),
 (158, 'Sergio Garcia'),
 (11382, 'Sungjae Im'),
 (6937, 'Stephan Jaeger'),
 (7081, 'Si Woo Kim'),
 (4587, 'Shane Lowry'),
 (10404, 'Sebastian Munoz'),
 (1037, 'Scott Piercy'),
 (6001, 'Seamus Power'),
 (7001, 'Sam Ryder'),
 (9478, 'Scottie Scheffler'),
 (3378, 'Scott Stallings'),
 (8961, 'Sepp Straka'),
 (10980, 'Sahith Theegala'),
 (2230, 'Tony Finau'),
 (5539, 'Tommy Fleetwood'),
 (9513, 'Talor Gooch'),
 (5553, 'Tyrrell Hatton'),
 (6086, 'Tom Hoge'),
 (3970, 'Troy Merritt'),
 (10664, 'Taylor Moore'),
 (9658, 'Taylor Pendrith'),
 (9031, 'Thomas Pieters'),
 (4364873, 'Viktor Hovland'),
 (11119, 'Wyndham Clark'),
 (1614, 'Webb Simpson'),
 (9877, 'Will Zalatoris'),
 (10140, 'Xander Schauffele'),
 (686, 'Zach Johnson'),
 (16, 'Aaron Baddeley'),
 (9517, 'Austin Cook'),
 (10906, 'Aaron Rai'),
 (1712, 'Andres Romero'),
 (9484, 'Alex Smalley'),
 (9127, 'Adam Svensson'),
 (1626, 'Bronson Burgoon'),
 (693, 'Ben Crane'),
 (1049, 'Brian Davis'),
 (1758, 'Brendon De Jonge'),
 (774, 'Bill Haas'),
 (4780, 'Bo Hoag'),
 (4638, 'Ben Martin'),
 (4415125, 'Bryson Nimmer'),
 (1673, 'Brett Stegmaier'),
 (712, 'Bo Van Pelt'),
 (4355673, 'Brandon Wu'),
 (3777, 'Charlie Beljan'),
 (9243, 'Christiaan Bezuidenhout'),
 (1177, 'Chris Couch'),
 (8971, 'Cody Gribble'),
 (208, 'Charles Howell III'),
 (5724, 'Chan Kim'),
 (1121, 'Cameron Percy'),
 (856, 'Carl Pettersson'),
 (8975, 'Chase Seiffert'),
 (9687, 'Curtis Thompson'),
 (1264, 'Camilo Villegas'),
 (7004, 'Derek Ernst'),
 (928, 'David Hearn'),
 (5574, 'David Lingmerth'),
 (6701, 'David Lipsky'),
 (1196, 'D.A. Points'),
 (10058, 'Davis Riley'),
 (4602218, 'Davis Thompson'),
 (431, 'D.J. Trahan'),
 (3455, 'Dawie van der Walt'),
 (4304, 'Danny Willett'),
 (4423323, 'Dylan Wu'),
 (1247, 'Eric Axley'),
 (3375, 'Fabian Gomez'),
 (74, 'Greg Chalmers'),
 (4845307, 'Greg Koch'),
 (301, 'Graeme McDowell'),
 (808, 'George McNeill'),
 (5462, 'Grayson Murray'),
 (11333, 'Greyson Sigg'),
 (5860, 'Hideki Matsuyama'),
 (1173, 'Jason Bohn'),
 (508, 'Jonathan Byrd'),
 (110, 'Jason Dufner'),
 (196, 'J.J. Henry'),
 (3598, 'Jim Herman'),
 (5797, 'John Huh'),
 (6894, 'Jim Knous'),
 (1422, 'John Merrick'),
 (4691933, 'John Pak'),
 (2883, 'Ted Potter Jr.'),
 (709, 'John Rollins'),
 (1568, 'Josh Teater'),
 (5771, 'Kiradech Aphibarnrat'),
 (3857, 'Kevin Chappell'),
 (10364, 'Kurt Kitayama'),
 (6689, 'Kelly Kraft'),
 (318, 'Kevin Na'),
 (860, 'Kevin Stadler'),
 (601, 'Luke Donald'),
 (1059, 'Luke List'),
 (1411, 'Matt Every'),
 (4859, 'Michael Gligic'),
 (9143, 'Mark Hubbard'),
 (8974, 'Michael Kim'),
 (4410932, 'Min Woo Lee'),
 (5729, 'Matthias Schwab'),
 (6151, 'Martin Trainer'),
 (10048, 'Nick Hardy'),
 (1600, 'Nate Lashley'),
 (3792, 'Nick Taylor'),
 (438, 'Omar Uresti'),
 (10831, 'Paul Barjon'),
 (186, 'Padraig Harrington'),
 (1259, 'Parker McLachlin'),
 (1674, 'Peter Uihlein'),
 (1750, 'Ryan Armour'),
 (801, 'Ricky Barnes'),
 (4321, 'Rafa Cabrera Bello'),
 (3683, 'Rafael Campos'),
 (3702, 'Rickie Fowler'),
 (1254, 'Robert Garrigus'),
 (903, 'Richard Johnson'),
 (377, 'Rory Sabbatini'),
 (4015, 'Sang-Moon Bae'),
 (4591, 'Scott Brown'),
 (1195, 'Scott Gutschewski'),
 (4449, 'Sung Kang'),
 (9528, 'Smylie Kaufman'),
 (9076, 'Satoshi Kodaira'),
 (4267, 'Seung-Yul Noh'),
 (1359, "Sean O'Hair"),
 (4683972, 'Spencer Ralston'),
 (10932, 'Seth Reeves'),
 (9569, 'Tyler Duncan'),
 (1798, 'Tommy Gainey'),
 (4410612, 'Takumi Kanaya'),
 (9626, 'Trey Mullinax'),
 (997, 'Ted Purdy'),
 (11340, 'Victor Perez'),
 (1185, 'Vaughn Taylor'),
 (4408315, 'Vincent Whaley'),
 (10714, 'Chase Koepka'),
 (1352, 'Chris Stroud'),
 (646, 'Erik Compton'),
 (11105, 'Kyle Westmoreland'),
 (3670, 'Martin Kaymer'),
 (9002, 'Tyler McCumber'),
 (10360, 'Wesley Bryan'),
 (3532, 'William McGirt'),
 (4682, 'Andrew Landry'),
 (9934, 'Jaekyeong Lee'),
 (11378, 'Robert MacIntyre'),
 (4425898, 'Austin Eckroat'),
 (8910, 'Benjamin Silverman'),
 (809, 'Ryan Moore'),
 (512, 'Alex Cejka'),
 (7161, 'Brandon Harkins'),
 (4845308, 'Brad Marek'),
 (5830, 'Dean Burmester'),
 (278, 'Davis Love III'),
 (3856, 'Jonas Blixt'),
 (710, 'John Senden'),
 (1265, 'Johnson Wagner'),
 (4413, 'Mark Baldwin'),
 (268, 'Tom Lehman'),
 (10046, 'Bryson DeChambeau'),
 (4713443, 'Kamaiu Johnson'),
 (308, 'Phil Mickelson'),
 (479, 'Mark Wilson'),
 (4683804, 'Andy Ogletree'),
 (5408, 'Harris English'),
 (153, 'Jim Furyk'),
 (243, 'Jerry Kelly'),
 (4350033, 'Rikuya Hoshino'),
 (7110, 'MJ Daffue'),
 (4643, 'Shawn Stefani'),
 (9474, 'Guido Migliozzi'),
 (6783, 'Roberto Diaz'),
 (4837, 'Thomas Detry'),
 (4355611, 'Willie Mack III'),
 (824, 'Arjun Atwal'),
 (1176, 'Daniel Chopra'),
 (4699314, 'Ryosuke Kinoshita'),
 (10630, 'Shugo Imahira'),
 (5057, 'Shaun Norris'),
 (4399256, 'Yuki Inamori'),
 (5285, 'Byeong Hun An'),
 (4690611, 'Hanbyeol Kim'),
 (4602673, 'Joohyung Kim'),
 (11253, 'Rasmus Hojgaard'),
 (4421475, 'John Augenstein'),
 (1734, 'Kyle Reifers'),
 (4708134, 'Quade Cummins'),
 (1613, 'Sam Saunders'),
 (1067, 'J.B. Holmes'),
 (1676, 'Jamie Lovemark'),
 (10583, 'Justin Suh'),
 (4351896, 'Kristoffer Ventura'),
 (4419142, 'Akshay Bhatia'),
 (10134, 'Ben Taylor'),
 (4628, 'Chris Baker'),
 (77, 'K.J. Choi'),
 (6648, 'Mark Anderson'),
 (10065, 'Michael Gellerman'),
 (6677, 'Nelson Ledesma'),
 (3948, 'Rhein Gibson'),
 (1733, 'Rob Oppenheim'),
 (9531, 'Robby Shelton'),
 (9564, 'Sebastian Cappelen'),
 (1210, 'Scott Harrington'),
 (5868, 'Tom Lewis'),
 (4565482, 'Will Gordon'),
 (6185, 'Wes Roach'),
 (4479, 'Xinjun Zhang'),
 (1470, 'Brad Kennedy'),
 (4408396, 'Wilco Nienaber'),
 (1489, 'Wade Ormsby'),
 (4686085, 'Angus Flanagan'),
 (6280, 'Brandon Stone'),
 (8992, 'Dominic Bozzelli'),
 (957, 'Hunter Mahan'),
 (1935, 'Ryan Blaum'),
 (412, 'Steve Stricker'),
 (10586, 'Tom Lovelady'),
 (4708, 'Zack Sucher'),
 (4701571, 'Abel Gallegos'),
 (5951, 'Andrew Loupe'),
 (4407372, 'Antoine Rozner'),
 (5956, 'Andy Sullivan'),
 (3824, 'Benjamin Hebert'),
 (4317, 'Bernd Wiesberger'),
 (10047, 'Cole Hammer'),
 (82, 'Darren Clarke'),
 (5857, 'Daniel van Tonder'),
 (123, 'Ernie Els'),
 (5934, 'Hao-Tong Li'),
 (4691, 'Jorge Campillo'),
 (10687, 'John Catlin'),
 (97, 'John Daly'),
 (5825, 'Justin Harding'),
 (9413, 'Jazz Janewattananond'),
 (4705886, 'Joe Long'),
 (4831, 'Joost Luiten'),
 (9374, 'JC Ritchie'),
 (4265, 'Jason Scrivener'),
 (745, 'Ken Duke'),
 (9496, 'Marcus Kinhult'),
 (4272, 'Mike Lorenzo-Vera'),
 (4566443, 'Matthias Schmid'),
 (3474, 'Paul Waring'),
 (4251, 'Ryan Fox'),
 (10099, 'Romain Langasque'),
 (10049, 'Sam Horsfield'),
 (1366, 'Will MacKenzie'),
 (10493, 'Yuxin Lin'),
 (8887, 'Zheng-kai Bai'),
 (10522, 'Eric Cole'),
 (144, 'Harrison Frazar'),
 (6987, 'Tain Lee'),
 (11219, 'Alex Beach'),
 (10481, 'Alvaro Ortiz'),
 (11115, 'Dylan Meyer'),
 (10562, 'Hayden Springer'),
 (4567806, 'Ollie Osborne'),
 (4047, 'Ryo Ishikawa'),
 (11447, 'Tyler Strafaci'),
 (4566423, 'Yosuke Asaji'),
 (9575, 'Lucas Bjerregaard'),
 (3740, 'Roberto Castro'),
 (4422368, 'Ben Cook'),
 (10179, 'Ben Polland'),
 (1322, 'Frank Bensel Jr.'),
 (5076, 'George Coetzee'),
 (415, 'Joe Summerhays'),
 (7055, 'Kalle Samooja'),
 (4845305, 'Larkin Gross'),
 (4845303, 'Peter Ballo'),
 (29, 'Rich Beem'),
 (259, 'Rob Labritz'),
 (307, 'Shaun Micheel'),
 (1617, 'Sonny Skinner'),
 (1370, 'Stuart Smith'),
 (4585548, 'Sami Valimaki'),
 (4723205, 'Tyler Collet'),
 (4845309, 'Tim Pearce'),
 (1350, 'Y.E. Yang'),
 (1157, 'Tim Wilkinson'),
 (261, 'Bernhard Langer'),
 (91, 'Fred Couples'),
 (329, 'Jose Maria Olazabal'),
 (310, 'Larry Mize'),
 (453, 'Mike Weir'),
 (281, 'Sandy Lyle'),
 (392, 'Vijay Singh'),
 (167, 'Retief Goosen'),
 (667, 'Rod Perry'),
 (198, 'Tim Herron'),
 (4684397, 'Donnie Trosper'),
 (9568, 'Ollie Schniederjans'),
 (5, 'Robert Allenby'),
 (335, 'Rod Pampling'),
 (1748, 'Andres Gonzales'),
 (9571, 'Joey Garber'),
 (4566449, 'James Sugrue'),
 (4691932, 'Lukas Michel'),
 (462, 'Tiger Woods'),
 (2127, 'Graham DeLaet'),
 (4683800, 'James Nicholas'),
 (4425900, 'Mikumu Horikawa'),
 (4592199, 'Jeongwoo Ham'),
 (4264, 'Tae Hee Lee'),
 (9040, 'Zac Blair'),
 (10910, 'Curtis Luck'),
 (6629, 'Eddie Pepperell'),
 (5769, 'Marty Jertson'),
 (3284, 'Ryan Vermeer'),
 (1178, 'Scott Hend'),
 (5338, 'Bud Cauley'),
 (68, 'Chad Campbell'),
 (4684201, 'Peter Kuest'),
 (9130, 'Brinson Paolini'),
 (34, 'David Berganio'),
 (4688358, 'Jake Shuman'),
 (4085, 'Vince Covello'),
 (4420096, 'Justin Bertsch'),
 (421, 'Ken Tanigawa'),
 (4587989, 'Chandler Phillips'),
 (100, 'Glen Day'),
 (5423, 'Andrea Pavan'),
 (540, 'Freddie Jacobson'),
 (5259, 'Julian Etulain'),
 (7056, 'Zander Lombard'),
 (1793, 'Colt Knost'),
 (713, 'Boo Weekley'),
 (3669, 'Jose de Jesus Rodriguez'),
 (5842, 'Bryce Easton'),
 (4984, 'Daniel Nisbet'),
 (4993, 'Jbe Kruger'),
 (10336, 'Jake McLeod'),
 (9220, 'Masahiro Kawamura'),
 (3674, 'Matthew Millar'),
 (5095, 'Neil Schietekat'),
 (1499, 'Richard Sterne'),
 (8889, 'Zecheng Dou'),
 (7082, 'Whee Kim'),
 (4781, 'Morgan Hoffmann'),
 (1612, 'Billy Hurley'),
 (3452, 'Daniel Summerhays'),
 (6965, 'Joe Boros'),
 (4585569, 'Mason Williams'),
 (10357, 'Anders Albertson'),
 (3322, 'Alex Prugh'),
 (3446, 'Brady Schnell'),
 (1646, 'Chad Collins'),
 (10442, 'Charlie Danielson'),
 (3279, 'Chris Thompson'),
 (7039, 'Chase Wright'),
 (5567, 'John Chin'),
 (10050, 'Kyle Jones'),
 (6999, 'Nicholas Lindheim'),
 (5506, 'Scott Langley'),
 (387, 'Steve Scott'),
 (2053, 'Will Claxton'),
 (5140, 'Thorbjorn Olesen'),
 (9469, 'Alexander Bjork'),
 (6041, 'Alexander Levy'),
 (3577, 'Derek Fathauer'),
 (4010, 'Martin Piller'),
 (3295, 'Tyrone Van Aswegen'),
 (4712, 'Yuta Ikeda'),
 (9379, 'Austen Truslow'),
 (1933, 'Kris Blanks'),
 (4924, 'Brian Dwyer'),
 (9607, 'Craig Brischke'),
 (6173, 'Nyasha Mauchaza'),
 (6773, 'Lee Houtteman'),
 (3384, 'Matt Harmon'),
 (5560, 'Wes Homan'),
 (10030, 'Zachary Bauchou'),
 (215, 'Trevor Immelman'),
 (6062, 'Blayne Barber'),
 (1637, 'Martin Flores'),
 (11, 'Stuart Appleby'),
 (1170, 'Steve Marino'),
 (5578, 'Jonathan Randolph'),
 (1112, 'Steven Bowditch'),
 (328, 'Geoff Ogilvy'),
 (5209, 'Wen-Chong Liang')]

In [23]:
player_table = pd.DataFrame(player_list, columns=('player_id','player'))

In [24]:
player_table.head()

   player_id           player
0       9261    Abraham Ancer
1       5548      Adam Hadwin
2       4989   Anirban Lahiri
3       6015        Adam Long
4       3832  Alexander Noren

In [25]:
course = df['course'].unique()

In [26]:
len(course)

90

In [27]:
course

array(['TPC Sawgrass - Ponte Vedra Beach, FL',
       'Grand Reserve Country Club - Rio Grande, Puerto Rico',
       'Bay Hill - Orlando, FL', 'PGA National - Palm Beach Gardens, FL',
       'Riviera Country Club - Pacific Palisades, CA',
       'TPC Scottsdale - Scottsdale, AZ',
       'Pebble Beach Resort - Pebble Beach, CA',
       'Torrey Pines North - La Jolla, CA',
       'La Quinta CC - La Quinta, CA', 'Waialae CC - Honolulu, HI',
       'Kapalua Resort - Kapalua, HI', 'Albany - New Providence, Bahamas',
       'Sea Island Resort - Sea Island, GA',
       'Memorial Park GC - Houston, TX',
       'El Camaleon GC - Quintana Roo, Mexico',
       'Port Royal GC - Southampton Parish, Bermuda',
       'Accordia Golf Narashino CC - Chiba, Japan',
       'The Summit Club - Las Vegas, NV', 'TPC Summerlin - Las Vegas, NV',
       'Country Club of Jackson - Jackson, MS',
       'Silverado Resort - Napa, CA', 'East Lake Golf Club - Atlanta, GA',
       'Caves Valley Golf Club - Baltimore, MD',
       'Liberty National - Jersey City, NJ',
       'Sedgefield Country Club - Greensboro, NC',
       'TPC Southwind - Memphis, TN', 'TPC Twin Cities - Blaine, MN',
       "Royal St. George's Golf Club - Kent, England ",
       'Keene Trace Golf Club - Nicholasville, KY',
       'TPC Deere Run - Silvis, IL', 'Detroit Golf Club - Detroit, MI',
       'TPC River Highlands - Cromwell, CT',
       'Torrey Pines South - La Jolla, CA',
       'Congaree Golf Club - Ridgeland, SC',
       'Muirfield Village Golf Club - Dublin, OH',
       'Colonial - Ft. Worth, TX',
       'Kiawah Island Golf Resort - Kiawah Island, SC',
       'TPC Craig Ranch - McKinney, TX',
       'Quail Hollow Club - Charlotte, NC',
       'Innisbrook - Palm Harbor, FL',
       'Harbour Town Golf Links - Hilton Head Island, SC',
       'Augusta National Golf Club - Augusta, GA',
       'TPC San Antonio - San Antonio, TX',
       'Corales Puntacana GC - Punta Cana, Dominican Republic',
       'The Concession Golf Club - Bradenton, FL',
       'Sherwood CC - Thousand Oaks, CA',
       'Shadow Creek GC - Las Vegas, NV',
       'Winged Foot GC - Mamaroneck, NY',
       'Olympia Fields Country Club - Olympia Fields, IL',
       'TPC Boston - Norton, MA', 'TPC Harding Park - San Francisco, CA',
       'Chapultepec - Mexico City, Mexico',
       'Sheshan International GC - Shanghai, China',
       'The Club at Nine Bridges - Seoul, South Korea',
       'Golf Club of Houston - Houston, TX',
       'Old White Course - White Sulphur Springs, WV',
       'Medinah - Medinah, IL',
       'Royal Portrush - Portrush, Northern Ireland',
       'Hamilton - Hamilton, Ontario, Canada',
       'Bethpage - Farmingdale, NY',
       'Trinity Forest Golf Club - Dallas, TX',
       'Coco Beach - Rio Grande, Puerto Rico',
       'TPC Kuala Lumpur - Kuala Lumpur, Malaysia',
       'Aronimink Golf Club - Newton Square, PA',
       'Ridgewood Country Club - Paramus, NJ',
       'Bellerive Country Club - St. Louis, MO',
       'Firestone Country Club - Akron, OH',
       'Glen Abbey Golf Club - Oakville, Canada',
       'Carnoustie Golf Club - Carnoustie, Scotland',
       'TPC Potomac at Avenel Farm - Potomac, MD',
       'Shinnecock Hills Golf Club - Southampton, NY',
       'Redstone Golf Club - Houston, TX',
       'Conway Farms Golf Club - Lake Forest, IL',
       'Glen Oaks Club - Old Westbury, NY',
       'Robert Trent Jones Golf Trail - Auburn, AL',
       'Royal Birkdale Golf Club - Lancashire, England',
       'Erin Hills Golf Club - Erin, WI',
       'TPC Four Seasons Resort Las Colinas - Irving, TX',
       'Eagle Point Golf Club - Wilmington, NC',
       'Crooked Stick - Carmel, IN', 'Baltusrol - Springfield, NJ',
       'Royal Troon - Ayrshire, Scotland', 'Congressional - Bethesda, MD',
       'Oakmont - Oakmont, PA', 'Doral - Miami, FL',
       'Plainfield CC - Edison, NJ', 'Whistling Straits - Kohler, WI',
       'St. Andrews - St. Andrews, Scotland',
       'Chambers Bay - University Place, WA', 'Isleworth - Windemere, FL'],
      dtype=object)

In [28]:
course_df = pd.DataFrame(course, columns = ['course'])

In [29]:
course_df['course_id'] = course_df.index+1

In [30]:
course_df.head()

                                              course  course_id
0               TPC Sawgrass - Ponte Vedra Beach, FL          1
1  Grand Reserve Country Club - Rio Grande, Puert...          2
2                             Bay Hill - Orlando, FL          3
3              PGA National - Palm Beach Gardens, FL          4
4       Riviera Country Club - Pacific Palisades, CA          5

In [31]:
#torrey pines north and south courses/ different courses different years

In [32]:
import pandas as pd
import getpass
import psycopg2
import numpy as np
from psycopg2.extensions import adapt, register_adapter, AsIs
from datetime import datetime

In [33]:
mypasswd = getpass.getpass()
connection = psycopg2.connect(database = 'casestdysu22t06',
                             user= 'sebmb',
                             host = 'pgsql.dsa.lan',
                             password= mypasswd)
cursor = connection.cursor()

del mypasswd

register_adapter(np.int64,AsIs)
register_adapter(np.float64,AsIs)

········

In [34]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS course_table (
        course_id  INT NOT NULL, 
        course  VARCHAR(100) NOT NULL,
        PRIMARY KEY (course_id)
    );
    ''')

In [35]:
with connection, connection.cursor() as cursor: 
    cursor.execute("SELECT COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME ='course_table' ;" )
    results=cursor.fetchall()
    
print('Columns in table course_table:')
for row in results: 
    print(row)

Columns in table course_table:
('course_id',)
('course',)

In [36]:
course_df=course_df.where(pd.notnull(course_df))

INSERT_SQL = 'INSERT INTO course_table'
INSERT_SQL +=' (course, course_id) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor: 
    for row in course_df.itertuples(index=False, name=None):
        cursor.execute(INSERT_SQL, row)

In [37]:
mypasswd = getpass.getpass()
username = 'sebmb'
host = 'pgsql.dsa.lan'
database = 'casestdysu22t06'

········

In [38]:
from sqlalchemy.engine.url import URL
from sqlalchemy import create_engine
from sqlalchemy import select

# SQLAlchemy Connection Parameters
postgres_db = {'drivername': 'postgres',
               'username': username,
               'password': mypasswd,
               'host': host,
               'database' :database}
engine = create_engine(URL(**postgres_db), echo=True)
del mypasswd

In [39]:
print('course_table')
engine.execute("SELECT DISTINCT course FROM course_table;").fetchall()

course_table
2022-08-03 15:31:37,169 INFO sqlalchemy.engine.base.Engine select version()
2022-08-03 15:31:37,170 INFO sqlalchemy.engine.base.Engine {}
2022-08-03 15:31:37,172 INFO sqlalchemy.engine.base.Engine select current_schema()
2022-08-03 15:31:37,173 INFO sqlalchemy.engine.base.Engine {}
2022-08-03 15:31:37,174 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-08-03 15:31:37,175 INFO sqlalchemy.engine.base.Engine {}
2022-08-03 15:31:37,176 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2022-08-03 15:31:37,177 INFO sqlalchemy.engine.base.Engine {}
2022-08-03 15:31:37,178 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2022-08-03 15:31:37,178 INFO sqlalchemy.engine.base.Engine {}
2022-08-03 15:31:37,179 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT course FROM course_table;
2022-08-03 15:31:37,179 INFO sqlalchemy.engine.base.Engine {}

[('Glen Abbey Golf Club - Oakville, Canada',),
 ('Muirfield Village Golf Club - Dublin, OH',),
 ('TPC San Antonio - San Antonio, TX',),
 ('Silverado Resort - Napa, CA',),
 ('Albany - New Providence, Bahamas',),
 ('The Concession Golf Club - Bradenton, FL',),
 ('Coco Beach - Rio Grande, Puerto Rico',),
 ('Accordia Golf Narashino CC - Chiba, Japan',),
 ('La Quinta CC - La Quinta, CA',),
 ('Aronimink Golf Club - Newton Square, PA',),
 ('Redstone Golf Club - Houston, TX',),
 ('Sedgefield Country Club - Greensboro, NC',),
 ('El Camaleon GC - Quintana Roo, Mexico',),
 ('Chambers Bay - University Place, WA',),
 ('TPC Scottsdale - Scottsdale, AZ',),
 ('Bay Hill - Orlando, FL',),
 ('Shadow Creek GC - Las Vegas, NV',),
 ('Detroit Golf Club - Detroit, MI',),
 ('Isleworth - Windemere, FL',),
 ('Memorial Park GC - Houston, TX',),
 ('Innisbrook - Palm Harbor, FL',),
 ('Carnoustie Golf Club - Carnoustie, Scotland',),
 ('Trinity Forest Golf Club - Dallas, TX',),
 ('Medinah - Medinah, IL',),
 ('Country Club of Jackson - Jackson, MS',),
 ('Riviera Country Club - Pacific Palisades, CA',),
 ('Erin Hills Golf Club - Erin, WI',),
 ('Conway Farms Golf Club - Lake Forest, IL',),
 ('Keene Trace Golf Club - Nicholasville, KY',),
 ('Grand Reserve Country Club - Rio Grande, Puerto Rico',),
 ('PGA National - Palm Beach Gardens, FL',),
 ('Firestone Country Club - Akron, OH',),
 ('TPC Twin Cities - Blaine, MN',),
 ('Corales Puntacana GC - Punta Cana, Dominican Republic',),
 ('Congaree Golf Club - Ridgeland, SC',),
 ('Whistling Straits - Kohler, WI',),
 ('Plainfield CC - Edison, NJ',),
 ('TPC Deere Run - Silvis, IL',),
 ('TPC Potomac at Avenel Farm - Potomac, MD',),
 ('Congressional - Bethesda, MD',),
 ('Hamilton - Hamilton, Ontario, Canada',),
 ('Sea Island Resort - Sea Island, GA',),
 ('Eagle Point Golf Club - Wilmington, NC',),
 ('Oakmont - Oakmont, PA',),
 ('Royal Troon - Ayrshire, Scotland',),
 ('Sherwood CC - Thousand Oaks, CA',),
 ('Torrey Pines South - La Jolla, CA',),
 ('TPC Four Seasons Resort Las Colinas - Irving, TX',),
 ('St. Andrews - St. Andrews, Scotland',),
 ("Royal St. George's Golf Club - Kent, England ",),
 ('Ridgewood Country Club - Paramus, NJ',),
 ('TPC Southwind - Memphis, TN',),
 ('The Summit Club - Las Vegas, NV',),
 ('TPC River Highlands - Cromwell, CT',),
 ('Winged Foot GC - Mamaroneck, NY',),
 ('Sheshan International GC - Shanghai, China',),
 ('Crooked Stick - Carmel, IN',),
 ('Augusta National Golf Club - Augusta, GA',),
 ('Robert Trent Jones Golf Trail - Auburn, AL',),
 ('Liberty National - Jersey City, NJ',),
 ('Pebble Beach Resort - Pebble Beach, CA',),
 ('Glen Oaks Club - Old Westbury, NY',),
 ('TPC Kuala Lumpur - Kuala Lumpur, Malaysia',),
 ('TPC Harding Park - San Francisco, CA',),
 ('Royal Birkdale Golf Club - Lancashire, England',),
 ('Caves Valley Golf Club - Baltimore, MD',),
 ('Old White Course - White Sulphur Springs, WV',),
 ('Baltusrol - Springfield, NJ',),
 ('Quail Hollow Club - Charlotte, NC',),
 ('Port Royal GC - Southampton Parish, Bermuda',),
 ('Bellerive Country Club - St. Louis, MO',),
 ('Golf Club of Houston - Houston, TX',),
 ('Royal Portrush - Portrush, Northern Ireland',),
 ('Waialae CC - Honolulu, HI',),
 ('TPC Craig Ranch - McKinney, TX',),
 ('Kapalua Resort - Kapalua, HI',),
 ('Shinnecock Hills Golf Club - Southampton, NY',),
 ('Chapultepec - Mexico City, Mexico',),
 ('East Lake Golf Club - Atlanta, GA',),
 ('TPC Summerlin - Las Vegas, NV',),
 ('Bethpage - Farmingdale, NY',),
 ('Doral - Miami, FL',),
 ('TPC Boston - Norton, MA',),
 ('Harbour Town Golf Links - Hilton Head Island, SC',),
 ('The Club at Nine Bridges - Seoul, South Korea',),
 ('TPC Sawgrass - Ponte Vedra Beach, FL',),
 ('Colonial - Ft. Worth, TX',),
 ('Torrey Pines North - La Jolla, CA',),
 ('Olympia Fields Country Club - Olympia Fields, IL',),
 ('Kiawah Island Golf Resort - Kiawah Island, SC',)]

In [40]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS player_table (
        player_id  INT NOT NULL, 
        player  VARCHAR(100) NOT NULL,
        PRIMARY KEY (player_id)
    );
    ''')

In [41]:
with connection, connection.cursor() as cursor: 
    cursor.execute("SELECT COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME ='player_table' ;" )
    results=cursor.fetchall()
    
print('Columns in table player_table:')
for row in results: 
    print(row)

Columns in table player_table:
('player_id',)
('player',)

In [42]:
course_df=course_df.where(pd.notnull(course_df))

INSERT_SQL = 'INSERT INTO player_table'
INSERT_SQL +=' (player_id, player) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor: 
    for row in player_table.itertuples(index=False, name=None):
        cursor.execute(INSERT_SQL, row)

UniqueViolation: duplicate key value violates unique constraint "player_table_pkey"
DETAIL:  Key (player_id)=(9261) already exists.

In [ ]:
print('player_table')
engine.execute("SELECT DISTINCT player FROM player_table;").fetchall()

In [43]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS tournament_name_table (
        tournament_name_id  INT NOT NULL, 
        tournament  VARCHAR(100) NOT NULL,
        PRIMARY KEY (tournament_name_id)
    );
    ''')

In [44]:
with connection, connection.cursor() as cursor: 
    cursor.execute("SELECT COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME ='tournament_name_table' ;" )
    results=cursor.fetchall()
    
print('Columns in table tournament_name_table:')
for row in results: 
    print(row)

Columns in table tournament_name_table:
('tournament_name_id',)
('tournament',)

In [45]:
course_df=course_df.where(pd.notnull(course_df))

INSERT_SQL = 'INSERT INTO tournament_name_table'
INSERT_SQL +=' (tournament, tournament_name_id) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor: 
    for row in tournament_df.itertuples(index=False, name=None):
        cursor.execute(INSERT_SQL, row)

In [46]:
print('tournament_name_table')
engine.execute("SELECT DISTINCT tournament FROM tournament_name_table;").fetchall()

tournament_name_table
2022-08-03 15:32:46,205 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT tournament FROM tournament_name_table;
2022-08-03 15:32:46,206 INFO sqlalchemy.engine.base.Engine {}

[('Wells Fargo Championship',),
 ('Sony Open in Hawaii',),
 ('Waste Management Phoenix Open',),
 ('The Barclays',),
 ('CareerBuilder Challenge',),
 ('PGA Championship',),
 ('WGC-FedEx St. Jude Classic',),
 ('Northern Trust Open',),
 ('Deutsche Bank Championship',),
 ('The Honda Classic',),
 ('Wyndham Championship',),
 ('The CJ Cup @ Shadow Creek',),
 ('Mayakoba Golf Classic',),
 ('World Golf Championships-Mexico Championship',),
 ('Desert Classic',),
 ('The ZOZO Championship',),
 ('Arnold Palmer Invitational Pres. by Mastercard',),
 ('Crowne Plaza Invitation',),
 ('OHL Classic at Mayakoba',),
 ('World Golf Championships-HSBC Champions',),
 ('The Memorial Tournament pres. by Nationwide',),
 ('CIMB Classic',),
 ('The Players Championship',),
 ('Genesis Open',),
 ('World Golf Championships - Cadillac Championship',),
 ('Tour Championship',),
 ('Dean & Deluca Invitational',),
 ('Hyundai Tournament of Champions',),
 ('The Greenbrier Classic',),
 ('Safeway Open',),
 ('Frys.com Open',),
 ('BMW Championship',),
 ('The Open',),
 ('U.S. Open',),
 ('Valspar Championship',),
 ('The CJ Cup @ Summit',),
 ('RBC Canadian Open',),
 ('3M Open',),
 ('The Genesis Invitational',),
 ('Sanderson Farms Championship',),
 ('The RSM Classic',),
 ('Puerto Rico Open',),
 ('Corales Puntacana Resort & Club Championship',),
 ('WGC-Workday Championship',),
 ('The CJ Cup @ Nine Bridges',),
 ('Fortinet Championship',),
 ('World Golf Championship-Bridgestone Invitational',),
 ('AT&T Pebble Beach Pro-Am',),
 ('WGC-HSBC Champions',),
 ('Rocket Mortgage Classic',),
 ('SBS Tournament of Champions',),
 ('Bermuda Championship',),
 ('Shriners Hospital for Children Open',),
 ('WGC-Bridgestone Invitational',),
 ('A Military Tribute at The Greenbrier',),
 ('Palmetto Championship at Congaree',),
 ('Fort Worth Invitational',),
 ('The Northern Trust',),
 ('FedEx St. Jude Classic',),
 ('Valero Texas Open',),
 ('Masters Tournament',),
 ('Dell Technologies Championship',),
 ('AT&T Byron Nelson',),
 ('WGC-Mexico Championship',),
 ('Houston Open',),
 ('Hero World Challenge',),
 ('Farmers Insurance Open',),
 ('Humana Chalenge',),
 ('Shell Houston Open',),
 ('Workday Charity Open',),
 ('Sentry Tournament of Champions',),
 ('Barbasol Championship',),
 ('RBC Heritage',),
 ('John Deere Classic',),
 ('Charles Schwab Challenge',),
 ('Quicken Loans National',),
 ('The McGladrey Classic',),
 ('The American Express',),
 ('Travelers Championship',)]

In [48]:
df.head()

,tournament_id,player_id,date,golfer,tournament,course,purse,year,score,par,finish,rounds,cut,shots_gained_putt,shots_gained_around_green,shots_gained_approach_green,shots_gained_off_the_tee,shots_gained_tee_to_green,shots_gained_total,top10
0,401353254,9261,3/13/2022,Abraham Ancer,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,285,288,T33,4,1,0.16,0.04,0.70,0.20,0.94,1.09,0
1,401353254,5548,3/13/2022,Adam Hadwin,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,281,288,T9,4,1,1.43,-0.11,1.04,-0.27,0.67,2.09,1
2,401353254,4989,3/13/2022,Anirban Lahiri,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,276,288,2,4,1,1.41,0.02,1.04,0.87,1.93,3.34,1
3,401353254,6015,3/13/2022,Adam Long,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,287,288,T46,4,1,0.37,0.15,-0.61,0.67,0.22,0.59,0
4,401353254,3832,3/13/2022,Alexander Noren,The Players Championship,"TPC Sawgrass - Ponte Vedra Beach, FL",20.0,2022,284,288,T26,4,1,-0.15,0.08,1.25,0.16,1.49,1.34,0

In [47]:
df.columns

Index(['tournament_id', 'player_id', 'date', 'golfer', 'tournament', 'course',
       'purse', 'year', 'score', 'par', 'finish', 'rounds', 'cut',
       'shots_gained_putt', 'shots_gained_around_green',
       'shots_gained_approach_green', 'shots_gained_off_the_tee',
       'shots_gained_tee_to_green', 'shots_gained_total', 'top10'],
      dtype='object')

In [ ]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS tournament_name_table (
        tournament_name_id  INT NOT NULL, 
        tournament  VARCHAR(100) NOT NULL,
        PRIMARY KEY (tournament_name_id)
    );
    ''')

In [ ]:
with connection, connection.cursor() as cursor: 
    cursor.execute("SELECT COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME ='tournament_name_table' ;" )
    results=cursor.fetchall()
    
print('Columns in table tournament_name_table:')
for row in results: 
    print(row)

In [ ]:
course_df=course_df.where(pd.notnull(course_df))

INSERT_SQL = 'INSERT INTO tournament_name_table'
INSERT_SQL +=' (tournament, tournament_name_id) VALUES '
INSERT_SQL += '(%s,%s)'

with connection, connection.cursor() as cursor: 
    for row in tournament_df.itertuples(index=False, name=None):
        cursor.execute(INSERT_SQL, row)

In [ ]:
print('tournament_name_table')
engine.execute("SELECT DISTINCT tournament FROM tournament_name_table;").fetchall()

In [ ]:
d1 = df['date'].unique()

In [ ]:
t1 = df['tournament_id'].unique()

In [ ]:
len(d1)

In [ ]:
len(t1)

In [ ]:
aug8 = df[df['date']=='7/18/2021']

In [ ]:
aug8['tournament_id'].unique()
#opposite field events

In [ ]:
tournament_dates = df[['date','tournament_id','course','tournament']]

In [ ]:
tournament_dates

In [ ]:
tournament_dates = tournament_dates.drop_duplicates()

In [ ]:
tournament_dates

In [ ]:
tournament_dates['date'] =  pd.to_datetime(tournament_dates['date'])

In [ ]:
tournament_dates.dtypes

In [ ]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    DROP TABLE tourney_dates 
    ;
    ''')

In [ ]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS tourney_dates (
        tournament_id  INT NOT NULL, 
        date  DATE NOT NULL,
        course VARCHAR(100) NOT NULL,
        tournament VARCHAR(100) NOT NULL,
        PRIMARY KEY(tournament_id)
    );
    ''')

In [ ]:
with connection, connection.cursor() as cursor: 
    cursor.execute("SELECT COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME ='tourney_dates' ;" )
    results=cursor.fetchall()
    
print('Columns in table tourney_dates:')
for row in results: 
    print(row)

In [ ]:
INSERT_SQL = 'INSERT INTO tourney_dates'
INSERT_SQL +=' (date, tournament_id, course, tournament) VALUES '
INSERT_SQL += '(%s,%s,%s,%s)'

with connection, connection.cursor() as cursor: 
    for row in tournament_dates.itertuples(index=False, name=None):
        cursor.execute(INSERT_SQL, row)

In [ ]:
print('tourney_dates')
engine.execute("SELECT DISTINCT tournament_id,date,course,tournament FROM tourney_dates;").fetchall()

In [ ]:
#course, players, tournament_id, date, tournament_name

purse	year	score	par	finish	rounds	cut	shots_gained_putt	shots_gained_around_green	shots_gained_approach_green	shots_gained_off_the_tee	shots_gained_tee_to_green	shots_gained_total	top10

In [ ]:
tournament_table = df[['tournament_id','player_id','purse','year','score','par','finish',
                       'rounds','cut','shots_gained_putt','shots_gained_around_green','shots_gained_approach_green',
                       'shots_gained_off_the_tee',
                       'shots_gained_tee_to_green','shots_gained_total','top10']]

In [ ]:
len(tournament_table.columns)

In [ ]:
tournament_table.drop_duplicates()

In [ ]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    DROP TABLE tournament_table 
    ;
    ''')

In [ ]:
with connection, connection.cursor() as cursor: 
    
    cursor.execute(
    ''' 
    CREATE TABLE IF NOT EXISTS tournament_table(
        tournament_id  INT NOT NULL, 
        player_id INT NOT NULL,
        purse FLOAT,
        year VARCHAR(10),
        score INT,
        par INT,
        finish VARCHAR(20),
        rounds INT,
        cut INT,
        shots_gained_putt FLOAT,
        shots_gained_around_green FLOAT,
        shots_gained_approach_green FLOAT,
        shots_gained_off_the_tee FLOAT,
        shots_gained_tee_to_green FLOAT,
        shots_gained_total FLOAT,
        top10 INT,
        FOREIGN KEY(tournament_id) REFERENCES tourney_dates(tournament_id),
        FOREIGN KEY(player_id) REFERENCES player_table(player_id)
        
        
    );
    ''')

In [ ]:
with connection, connection.cursor() as cursor: 
    cursor.execute("SELECT COLUMN_NAME FROM information_schema.COLUMNS WHERE TABLE_NAME ='tournament_table' ;" )
    results=cursor.fetchall()
    
print('Columns in table tournament_table:')
for row in results: 
    print(row)

In [ ]:


INSERT_SQL = 'INSERT INTO tournament_table'
INSERT_SQL +=' (tournament_id,player_id,purse,year,score,par,finish,'
INSERT_SQL +=   'rounds,cut,shots_gained_putt,shots_gained_around_green,shots_gained_approach_green,'
INSERT_SQL +=   'shots_gained_off_the_tee,'
INSERT_SQL +=   'shots_gained_tee_to_green,shots_gained_total,top10) VALUES '
INSERT_SQL += '(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

with connection, connection.cursor() as cursor: 
    for row in tournament_table.itertuples(index=False, name=None):
        cursor.execute(INSERT_SQL, row)

In [ ]:
print('tournament_table')
engine.execute("SELECT DISTINCT tournament_id,purse FROM tournament_table;").fetchall()