In [9]:
import pandas as pd

In [12]:
df = pd.read_csv('/dsa/groups/casestudy2022su/team06/GolfTournament.csv')
df.head()

,Player_initial_last,tournament id,player id,hole_par,strokes,hole_DKP,hole_FDP,hole_SDP,streak_DKP,streak_FDP,...,purse,season,no_cut,Finish,sg_putt,sg_arg,sg_app,sg_ott,sg_t2g,sg_total
0,A. Ancer,401353254,9261,288,285,60.5,55.4,65,3,6.6,...,20.0,2022,0,T33,0.16,0.04,0.70,0.20,0.94,1.09
1,A. Hadwin,401353254,5548,288,281,71.0,65.3,70,0,11.8,...,20.0,2022,0,T9,1.43,-0.11,1.04,-0.27,0.67,2.09
2,A. Lahiri,401353254,4989,288,276,87.5,80.5,79,0,11.8,...,20.0,2022,0,2,1.41,0.02,1.04,0.87,1.93,3.34
3,A. Long,401353254,6015,288,287,57.0,51.3,62,0,5.6,...,20.0,2022,0,T46,0.37,0.15,-0.61,0.67,0.22,0.59
4,A. Noren,401353254,3832,288,284,67.0,60.4,66,0,6.2,...,20.0,2022,0,T26,-0.15,0.08,1.25,0.16,1.49,1.34

In [6]:
print('rows, columns of df:' , df.shape)
print('distribution of target variable \'made cut\':' , df['made_cut'].value_counts())
#60% of the target variable is a 1 (made the cut) 
#can delete rows that made cut to be even w the no cut with imblearn or we can use SMOTE to synthetically create 
#additional rows that did not make the cut to be even with the made cut rows

rows, columns of df: (35545, 37)
distribution of target variable 'made cut': 1    21608
0    13937
Name: made_cut, dtype: int64

In [7]:
df.dtypes
#remove player/tournament, names/ids and date
#also cleaning NA values/unnamed columns removed
#how to handle the finish column/ negative values used in some of the columns

Player_initial_last     object
tournament id            int64
player id                int64
hole_par                 int64
strokes                  int64
hole_DKP               float64
hole_FDP               float64
hole_SDP                 int64
streak_DKP               int64
streak_FDP             float64
streak_SDP               int64
n_rounds                 int64
made_cut                 int64
pos                    float64
finish_DKP               int64
finish_FDP               int64
finish_SDP               int64
total_DKP              float64
total_FDP              float64
total_SDP                int64
player                  object
Unnamed: 2             float64
Unnamed: 3             float64
Unnamed: 4             float64
tournament name         object
course                  object
date                    object
purse                  float64
season                   int64
no_cut                   int64
Finish                  object
sg_putt                float64
sg_arg                 float64
sg_app                 float64
sg_ott                 float64
sg_t2g                 float64
sg_total               float64
dtype: object